:root {
  color-scheme: light dark;

  /* Primitive colors */
  --color-black: #000;
  --color-dark-gray: #666;
  --color-light-gray: #bbb;
  --color-white: #fff;

  /* Theme colors */
  --background-color: light-dark(var(--color-white), var(--color-black));
  --text-color-primary: light-dark(var(--color-black), var(var(--color-white)));
  --text-color-secondary: light-dark(var(--color-dark-gray), var(--color-light-gray));

  --body-padding: 50px;
}

html {
  height: 100%;
}

.mouse-canvas {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  /* background: #EEAECA;
  background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); */
  opacity: 0;
  pointer-events: none;
}

body {
  background-color: var(--background-color);
  font-size: 100%;
  font-family: 'Geist Mono', monospace, 'Courier New', Courier;
  padding: 50px;
  margin: 0px;

  .wrapper {
    display: flex;
    gap: 50px;
    height: 100%;

    h1,
    p {
      color: var(--text-color-primary);
    }

    h1 {
      font-size: 60px;
    }

    h2,
    h3,
    h4,
    h5 {
      color: var(--text-color-secondary);
      font-weight: normal;
    }

    .half-page {
      width: 100%;
    }

    .page-left {
      order: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: calc(100vh - 2 * var(--body-padding));

      .face-wrapper {
        position: fixed;
      }

      .face {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        font-size: 60px;
        font-weight: bolder;
        gap: 30px;
      }

      .eyes {
        display: flex;
        flex-direction: row;
        gap: 100px;
      }

      .mouth {
        height: 85px;
      }

      .eye::after {
        content: '●';
        animation: blink 10s infinite ease-in;
      }

      .eyes:hover {
        .eye::after {
          content: '◡';
        }
      }

      .mouth::after {
        content: '︶';
      }

      .mouth:hover::after {
        content: 'º';
      }
    }

    .page-right {
      order: 2;
      text-align: right;

      header {
        padding-bottom: 20px;
      }

      .title > a {
        color: inherit;
        text-decoration: inherit;
      }

      p {
        margin-bottom: 40px;
        font-size: 120%;
      }
    }
  }
}

@keyframes blink {
  0% {
    content: '◡';
  }
  1% {
    content: '●';
  }
  /* 45% {
    content: '◡';
  }
  46% {
    content: '●';
  } */
  /* 71% {
    content: '◡';
  }
  71.5% {
    content: '●';
  } */
}

@media print, screen and (max-width: 810px) {
  body {
    .wrapper {
      flex-direction: column;
      gap: 5px;

      .page-left {
        order: 2;
        height: auto;
        .face-wrapper {
          position: relative;
        }
      }

      .page-right {
        order: 1;
      }
    }
  }
}