@use 'theme/default';
@import '@fontsource/geist-mono/index.css';

html {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-size: 100%;
  font-family: 'Geist Mono', monospace, 'Courier New', Courier;
  padding: 0px;
  margin: 0px;
  height: 100%;

  .root {
    height: 100%;
  }
}
