.layout {
  padding: 50px;
  gap: 50px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  h1,
  p {
    color: var(--text-color-primary);
  }

  h1 {
    font-size: 60px;
    // text-align: center;
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5 {
    color: var(--text-color-secondary);
    font-weight: normal;
  }
}

@media print, screen and (max-width: 810px) {
}
